.Menu {
  background-color: rgb(134, 3, 3);
  display: flex-box;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  border-style: ridge;
  border-radius: 5em;
  border-color: black;
}

#menu-links {
  display: flex-box;
  padding-left: 2em;
  border-style: double;
  border-radius: 3em;
  border-color: rgb(134, 3, 3);
}

#menu-links a {
  padding-right: 0.5em;
  color: rgb(20, 20, 20);
  border-style: double;
  border-radius: 3em;
  border-color: rgb(134, 3, 3);
  text-decoration: underline;
  cursor: pointer;
}
